      <div *ngIf="hero"><!--if the condition is true then the this part(div) will be displayed-->
    <h2>{{hero.name|uppercase}} Details</h2><!--the "uppercase" pipe makes the hero.name value uppercase, a pipe-->
    <div>Id: {{hero.id}}</div>
    <div>
      <label for="hero-name">Name:</label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name"><!--the [(ngModel)] is used for 2 way data binding that changes the value of the specified property-->
    </div>
    </div>
    <button type="button" (click) = "goBack()">Go Back</button><!--goBack() function defined in the hero-detail class-->
